.section {

  .vertical-content {
    max-height: 420px;
    line-height: 2;
    @include media-breakpoint-up(lg) {
      line-height: 2.5;
    }
  }

  .break-vertical-block {
    @include media-breakpoint-up(lg) {
      margin-top: -24px;
      margin-bottom: -24px;
    }
  }

  .section-intro-image {
    min-height: 250px;
    @include media-breakpoint-down(lg) {
      margin-left: -15px;
      margin-right: -15px;
    }
  }
  
}