<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title 六角甜點工坊
    meta(property='og:title', content='六角甜點工坊')
    meta(property='og:description', content='使用 Bootstrap 結合 Sass 結束這回合吧')
    meta(property='og:site_name', content='六角學院')
    meta(property='og:locale', content='zh_TW')
    link(rel='icon', href='images/favicon_48.ico')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')

    link(rel="stylesheet", href="css/all.css")
  body
    nav.navbar.navbar-expand-md.navbar-light.bg-white
      .container
        button.navbar-toggler.d-md-none.d-flex.align-items-center(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
          i.material-icons
            | menu

        a.navbar-brand(href='index.html')
          img.d-none.d-md-inline-block(src='images/logo-all-dark.svg', width='220', height='40', alt='')
          img.d-inline-block.d-md-none(src='images/logotype-sm-dark.svg', width='114', height='18', alt='')

        
        a.nav-link.d-flex.align-items-center.order-md-1(href='carts.html')
          i.material-icons
            | shopping_cart

        #navbarSupportedContent.collapse.navbar-collapse
          ul.navbar-nav.ml-auto
            li.nav-item.active
              a.nav-link(href='#')
                | 首頁 
                span.sr-only (current)
            li.nav-item
              a.nav-link(href='#') 甜點
            li.nav-item
              a.nav-link(href='#') 登入

    script(src="js/vendors.js")