extend layout.jade
block vars
  - var title = '首頁'

block navbar
  - var path = 'index.html'
  include partials/navbar.jade

block content

    .container.px-0.px-md-3
      header.header
        .header-main-image.bg-cover(style='background-image: url(https://images.unsplash.com/photo-1473256599800-b48c7c88cd7e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ae0d68ab0db4ee79bdce92722b31112b&auto=format&fit=crop&w=925&q=80)')
        h1.text-hide 六角甜點工坊
        .row.no-gutters.justify-content-center.rectangle-section
          .col-md-10
            .row.no-gutters
              a.col-4.rectangle-image-wrap.active(href='#')
                span.rectangle-text 本日精選
                .four-sides.rectangle-over.zindex--1
                .rectangle-image.bg-cover(style='background-image: url(https://images.unsplash.com/photo-1504473089979-b1c4993a9653?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9db69b72e1f7d1b4e5c81cee531108ff&auto=format&fit=crop&w=634&q=80)')
              a.col-4.rectangle-image-wrap(href='#')
                span.rectangle-text 人氣推薦
                .four-sides.rectangle-over.zindex--1
                .rectangle-image.bg-cover(style='background-image: url(https://images.unsplash.com/photo-1525059337994-6f2a1311b4d4?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7ce5bbf66bdb4ed3b6965f0b3618aa43&auto=format&fit=crop&w=654&q=80)')
              a.col-4.rectangle-image-wrap(href='#')
                span.rectangle-text 新品上市
                .four-sides.rectangle-over.zindex--1
                .rectangle-image.bg-cover(style='background-image: url(https://images.unsplash.com/photo-1490914327627-9fe8d52f4d90?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=73ed228f25bdefd2291c242f6d390fca&auto=format&fit=crop&w=634&q=80)')

    section.section.my-md-9
      .row.justify-content-center.no-gutters.d-md-none
        .col-6
          img.my-5.img-fluid(src='/images/sm-為什麼選擇了做甜點.svg', alt='')
      .bg-primary-lighter
        .container
          .row
            .col-md-6.break-vertical-block
              .bg-cover.h-100.section-intro-image(style='background-image: url(https://images.unsplash.com/photo-1519730722595-a5ff788dea4d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2712a33fe9b13532f0682ac4e1e749b8&auto=format&fit=crop&w=634&q=80)')
            .col-md-6.vertical-content.d-flex.justify-content-end
              .writing-md-vertical.py-md-7.py-5.text-primary-light.mr-auto
                p.mb-0 青山依舊在，幾度夕陽紅。慣看秋月春風。
                p.mb-0 一壺濁酒喜相逢，浪花淘盡英雄。是非成敗轉頭空，滾滾長江東逝水，白髮漁樵江渚上，古今多少事，都付笑談中。
                p.mb-0 是非成敗轉頭空，滾滾長江東逝水，白髮漁樵江渚上，古今多少事，都付笑談中。
              .break-vertical-block.d-none.d-md-block
                img(src='/images/lg-為什麼選擇了做甜點.svg', width='88', alt='')

